---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-white text-[#333932] dark:bg-[#333932] dark:text-white">
    <Header />
    <canvas id="canvas" class="fixed inset-0 w-full h-full"></canvas>
    <main class="container mx-auto mt-20 min-h-screen">
      <h1 class="text-center">(under construction)</h1>
    </main>
    <Footer />
    <script>
      import { game } from '../lib/game.ts';
      const canvas = document.getElementById('canvas') as HTMLCanvasElement;
      const abortCtrl = new AbortController();
      game(canvas, abortCtrl.signal);
    </script>
  </body><style>
    canvas {
      image-rendering: pixelated;
    }
  </style>
</html>
